:root {
  --color-homepage-dark: #0e141b;
  /* --primary-color: rgb(11, 182, 194); */
  --primary-color: #487ce4;
  --secondary-color: rgb(255, 67, 255);
  --third-color: rgb(20, 207, 45);

  --primary-color-button: #204285;
  --secondary-color-button: rgb(164 20 207 / 60%);
  --third-color-button: rgb(20 207 45 / 60%);

  --button-hover-color: #30577c;
  --button-active-color: #101d36;

  --background-color: #050505;
  --text-color: #fff;

  --nav-bar-height: 3rem;
  /* --nav-bar-color: rgb(47, 4, 51); */
  --nav-bar-color: #0f161dec;

  /* --project-background-color: #140235; */
  /* --project-background-color: #05311f; */
  /* --project-background-color: #173e43; */
  --project-background-color: #101820;

  --footer-background-color: rgb(0, 70, 135);

  --h1-size: 1.6rem;
  --h3-size: 2rem;
  --h4-size: 22px;

  /* --main-font-size: 16px; */

  --hamburger-menu-width-limit: 700px;
}

html {
  h1 {
    font-size: var(--h1-size);
  }
  h2 {
    font-size: var(--h2-size);
  }
  h3 {
    font-size: var(--h3-size);
  }
  h4 {
    font-size: var(--h4-size);
  }
}
