:root {
  /* --primary-color: rgb(11, 182, 194); */
  --primary-color: #487ce4;
  --secondary-color: rgb(255, 67, 255);
  --third-color: rgb(20, 207, 45);

  --primary-color-button: #204285;
  --secondary-color-button: rgb(164 20 207 / 60%);
  --third-color-button: rgb(20 207 45 / 60%);

  --button-hover-color: #30577c;
  --button-active-color: #101d36;

  --background-color: #111;
  --text-color: #ddd;

  --nav-bar-height: 72px;
  --nav-bar-color: #050505;

  --project-background-color: #487ce410;

  --footer-background-color: #487ce471;

  --h1-size: 36px;
  --h2-size: 30px;
  --h3-size: 26px;
  --h4-size: 22px;

  --main-font-size: 16px;

  --hamburger-menu-width-limit: 700px;
}

html {
  h1 {
    font-size: var(--h1-size);
  }
  h2 {
    font-size: var(--h2-size);
  }
  h3 {
    font-size: var(--h3-size);
  }
  h4 {
    font-size: var(--h4-size);
  }
}
