---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Page not found - Lucas Gazzola">
  <main>
    <h1>404</h1>
    <h2>Page not found</h2>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #111;
  }
  h1 {
    color: rgb(11, 194, 139);
  }
  h2 {
    color: rgb(157, 192, 182);
  }
</style>
