---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Page not found - Lucas Gazzola">
  <main>
    <h1>404</h1>
    <h2>Sorry</h2>
    <h3>{`${'This page is not part of the site'.toLocaleUpperCase()}`}</h3>
    <h4>What are you trying to do? 🤔️</h4>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #111;
  }
  h1 {
    color: rgb(194, 11, 11);
  }
  h2 {
    color: rgb(194, 11, 11);
  }

  h3,
  h4 {
    color: #ddd;
  }
</style>
