---

---

<section id="about">
  <img
    class="background-image-container"
    src="/background/background.webp"
    alt="Background Image"
  />
  <header>
    <h3 class="section-title">About Me</h3>
  </header>
  <main>
    <p class="aboutme-content">
      Mi nombre es <b>Lucas Gazzola</b>. Soy Desarrollador FullStack.
    </p>
    <p class="aboutme-content">
      Actualmente estoy estudiando la carrera de Ingeniería en Sistemas de
      Información en la Universidad Tecnológica Nacional de Villa María.
    </p>
    <p class="aboutme-content">
      Si necesitas alguna solución de software, no dudes en contactarme.
    </p>
  </main>
</section>

<style is:global>
  .section-title {
    text-align: center;
    font-size: var(--h3-size);
    color: var(--primary-color);
  }
</style>

<style>
  .aboutme-content {
    text-align: start;
    font-size: 1.1rem;
  }
  .background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    max-width: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.15;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  #about {
    position: relative;
    border-top: 2px solid #f2aa4c;
    border-bottom: 2px solid #f2aa4c;
  }
  main {
    width: 100%;
    padding: 0 36px;
  }
  p {
    text-align: left;
    max-width: 70ch;
    text-align: justify;
    line-height: 1.5;
    margin: auto;
  }
</style>
