---
---

<section id="about">
  <header><h3 class="section-title">About Me</h3></header>
  <main><p class="aboutme-content">Mi nombre es Lucas Gazzola. Soy Desarrollador FullStack. Actualmente estoy estudiando la carrera de Ingeniería en Sistemas de Información en la Universidad Tecnológica Nacional de Villa María.</p></main>
</section>

<style is:global>
  .section-title {
    text-align: center;
    font-size: var(--h3-size);
    color: var(--primary-color);
  }
</style>

<style>
  section {
    display: flex;
    flex-direction: column;
  }
  #about{
    background-color:#0F161D;
  }
  main {
    width: 100%;
    padding: 0 36px;
  }
  p {
    text-align: left;
    max-width: 70ch;
    text-align: justify;
    line-height: 1.5;
    margin: auto;
  }
</style>
