---
type ColorsObjectType = {
  [key: string]: string
}
// --background-color
const COLORS: ColorsObjectType = {
  black: '#050505',
  darkblue: '#000015',
  orange: '#190B07',
}
const arrayOfColors = Array.from(Object.entries(COLORS))
---

<div class="color-picker__container">
  {
    arrayOfColors.map(([color, colorCode]) => (
      <button
        title={color.charAt(0).toUpperCase() + color.slice(1)}
        class="color-picker"
        data-color-code={colorCode}
        data-color={color}
      />
    ))
  }
</div>

<style>
  .color-picker__container {
    position: fixed;
    top: var(--nav-bar-height);
    padding: 0 8px;
    border-bottom-right-radius: 10px;
    background-color: #6665;
    left: 0;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 1000;
  }
  .color-picker {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }
  .color-picker:active {
    transform: translateY(1px) scale(0.9);
    box-shadow: 1px 1px 4px #5558 inset;
  }
  @media (hover: hover) {
    .color-picker:hover {
      width: 23px;
      height: 23px;
    }
  }
  @media (min-width: 1440px) {
    .color-picker__container {
      left: 50%;
      transform: translateX(-50%);
      border-bottom-left-radius: 10px;
    }
  }
</style>

<script>
  const colorHandler = (pickColorElement: HTMLDivElement) => {
    const { color = 'white', colorCode = '#fff' } = pickColorElement.dataset
    pickColorElement.style.backgroundColor = color
    const handleColorClick = () => {
      const root = document.querySelector(':root') as HTMLHtmlElement
      root?.style?.setProperty('--background-color', colorCode)
    }
    pickColorElement.addEventListener('click', handleColorClick)
  }
  const colorsDivList = document.querySelectorAll(
    '.color-picker'
  ) as NodeListOf<HTMLDivElement>
  colorsDivList.forEach(colorHandler)
</script>
