<nav id="menu" class="menu-container hidden">
  <ul class="menu-list">
    <li>
      <a class="menu-item" href="#about">About</a>
    </li>
    <li>
      <a class="menu-item" href="#projects">Projects</a>
    </li>
    <li>
      <a class="menu-item" href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<script>
  const menuItemsList = document.querySelectorAll('.menu-item')

  const closeMenu = () => {
    const menu = document.getElementById('menu')
    !menu?.classList.contains('hidden') && menu?.classList.add('hidden')
  }

  menuItemsList.forEach(menuItem => {
    menuItem?.addEventListener('click', closeMenu)
  })
</script>

<style>
  .menu-container {
    position: absolute;
    left: 0;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #050505;
    transition: all 0.5s cubic-bezier(0, 0.6, 0.19, 0.85);
  }
  .menu-list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    list-style-type: none;
  }

  .menu-item {
    color: #ddd;
    text-decoration: none;
  }
  .menu-item:hover {
    text-decoration: underline;
  }
  .hidden {
    top: -100px;
  }
</style>
