---
const actualYear = new Date().getFullYear()
import { socialNetworks } from '../utils/info'
---

<footer>
  <p>Lucas Gazzola - {actualYear}</p>
  <p class="social-icons-list">
    {
      socialNetworks.map(network => (
        <a href={network.href}>
          <img
            src={`/sociallogos/${network.network.toLowerCase()}.svg`}
            alt=""
            width="24px"
            srcset=""
          />
        </a>
      ))
    }
  </p>
</footer>

<style>
  p {
    text-align: center;
  }
  a {
    color: inherit;
  }
  a:hover {
    color: #a821a8;
  }
  footer {
    position: relative;
    height: 120px;
    padding: 0 12px;
    background-color: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    z-index: 500;
  }
  .social-icons-list {
    display: flex;
    gap: 1rem;
  }
</style>
