<div class="form-group__container">
  <slot />
</div>

<style>
  .form-group__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }
</style>
