---
import MenuIconLogo from './MenuIconLogo.astro'
---

<!-- TODO: Add HOVER -->
<button id="open-menu-button" title="Open menu" type="button">
  <MenuIconLogo />
</button>

<script>
  const menuButton = document.getElementById('open-menu-button')

  const handleClick = () => {
    const menu = document.getElementById('menu')
    menu?.classList.toggle('hidden')
    menuButton?.classList.toggle('active')
  }

  menuButton?.addEventListener('click', handleClick)
</script>

<style>
  #open-menu-button {
    background-color: transparent;
    color: #eee;
    outline: none;
    border: none;
    transition: transform 0.2s ease-in;
  }

  #open-menu-button.active {
    color: var(--primary-color);
    transform: rotateZ(180deg);
  }
  /* Add hover if that's possible */
  @media (hover: hover) {
    #open-menu-button:hover {
      cursor: pointer;
    }
  }

  @media (min-width: 700px) {
    #open-menu-button {
      display: none;
    }
  }
</style>
