---
// import HamburgerMenuButton from './HamburgerMenuButton.astro'
// import DropdownMenu from './DropdownMenu.astro'
import LinksList from './LinksList.astro'
// import logo from '../assets/logo-modified.svg'
// const logo = '<LJ />'
---

<header class="header">
  <div class="header-content">
    <a class="menu-item" href="/#"
      ><span
        ><img
          class="logo-image"
          src="/logo-modified.svg"
          alt="Lucas Gazzola's logo"
        />
      </span>
    </a>
    <!-- <HamburgerMenuButton /> -->
    <LinksList />
  </div>
  <!-- <DropdownMenu /> -->
</header>

<style>
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    font-size: 1.2rem;
  }
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  a:active {
    transform: scale(0.95);
  }

  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
    }
    .logo-image:hover {
      transform: translateY(-1px);
      transition: transform 0.5s ease-in;
    }
  }

  .logo-image {
    height: 1.4rem;
    transition: transform 0.5s ease-out;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-bar-height);
    background-color: var(--nav-bar-color);
    box-shadow: 0 0.1rem 1rem #1c262f;
    z-index: 1000;
  }

  .header-content {
    position: relative;
    display: flex;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    background-color: inherit;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  @media (max-width: 600px) {
    .header-content {
      gap: 1rem;
    }
  }
  @media (min-width: 1800px) {
    .header-content {
      justify-content: space-evenly;
    }
  }
</style>
