<section>
  <header class="title-container">
    <h1 class="name-container">Lucas Gazzola</h1>
    <h2 class="job-title-container">Fullstack Developer</h2>
  </header>
  <main>
    <button class="button-download">Download CV</button>
  </main>
</section>

<style>
  .button-download {
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-weight: 800;
    outline: none;
    border: none;
    background-color: #0bc28bc9;
    border-radius: 6px;
    cursor: pointer;
  }
  @media (hover: hover) {
    .button-download:hover {
      background-color: #0bc28b;
    }
  }
  .button-download:active {
    background-color: #0bc2b9;
    transform: scale(0.99);
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    justify-content: center;
    margin-top: 100px;
    /* 100 viewport heigth minus header's height(100px)  */
    height: calc(100vh - 100px);
    /* height: 100vh; */
  }
  main {
    display: flex;
    justify-content: center;
  }
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .name-container {
    font-size: var(--h1-size);
    color: var(--primary-color);
  }
  .job-title-container {
    font-size: var(--h3-size);
    color: var(--secondary-color);
  }
</style>
