<main>
  <header class="main-title-container">
    <h1 class="name-container">Lucas Gazzola</h1>
    <h2 class="job-title-container">Fullstack Developer</h2>
  </header>
</main>

<style>
  main {
    width: 100vw;
    margin-top: 100px;
    /* 100 viewport heigth minus header's height(100px)  */
    height: calc(100vh - 100px);
    /* height: 100vh; */
    background-color: #111;
  }
  .main-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .name-container {
    font-size: 36px;
    color: rgb(11, 194, 139);
  }
  .main-title-container {
    font-size: 16px;
    color: rgb(157, 192, 182);
  }
</style>
