---

---

<section id="home">
  <div class="image-container">IMAGEN</div>
  <main>
    <div class="title-container">
      <h1>Hi, there!<span class="hi-emoji">👋️</span></h1>
      <h1>
        I'm <span class="name-container">Lucas Gazzola</span>
      </h1>
      <!-- <h2 class="job-title-container">fullStack Developer</h2> -->
    </div>
    <div class="links-container">
      <a
        href="/CV/CV-en.pdf"
        download="Lucas Gazzola - FullStack CV"
        title="Download Curriculum Vitae"
        class="download-link">Download CV</a
      >
      <a
        href="/curriculum"
        title="Online Curriculum Vitae version"
        class="download-link">Online CV</a
      >
    </div>
  </main>
</section>

<style>
  section#home {
    margin-top: var(--nav-bar-height);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(90vh - var(--nav-bar-height));
    gap: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    background: linear-gradient(30deg, #0f161d, #1a242b, #131b22);
  }

  main {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .links-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-container {
    width: min-content;
    border-radius: 5px;
    contain: content;
    aspect-ratio: 1 / 1;
    min-width: 200px;
    min-height: 200px;
    font-size: 60px;
    background-color: #09f8;

    display: flex;
    /* justify-self: flex-end; */
    align-items: center;
  }
  .hi-emoji {
    display: inline-block;
    animation: wave-hand 0.5s linear alternate-reverse;
    animation-iteration-count: 5;
  }

  .download-link {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    font-size: 18px;
    font-weight: 800;
    color: #f2aa4c;
    border-radius: 2px;
    cursor: pointer;
  }

  .download-link:active {
    color: var(--button-active-color);
    transform: scale(0.99);
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .name-container {
    position: relative;
    font-size: var(--h1-size);
    color: #3bf;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  /* @media (hover: hover) {
    .name-container::after {
      content: 'fullStack Developer';
      /* display: none;
      position: absolute;
      top: 36px;
      left: 0;
      height: auto;
      width: max-content;
      text-align: end;
      font-size: 1.4rem;
      color: transparent;
      transition: all 0.5s ease-in 0.5s;
    }
    .name-container:hover::after {
      color: rgb(11, 60, 194);
      top: 48px;
    }
  } */
  @media (max-width: 360px) {
    .title-container {
      align-items: center;
    }
    h1 {
      text-align: center;
    }
    main {
      flex-direction: column;
    }
  }
  @media (max-width: 620px) {
    section#home {
      flex-direction: column;
    }
  }
  @media (hover: hover) {
    .download-link:hover {
      color: var(--secondary-color);
    }

    a:hover {
      text-decoration: underline;
    }

    .name-container:hover {
      cursor: crosshair;
      animation: rainbow 2s normal 1s infinite;
    }
  }
  @keyframes rainbow {
    0% {
      color: #3bf;
    }
    33% {
      color: var(--secondary-color);
    }
    66% {
      color: var(--third-color);
    }
    99% {
      color: #3bf;
    }
  }
  @keyframes wave-hand {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
</style>
