---
import ColorPicker from './ColorPicker.astro'
---

<section id="home">
  <header>
    <div class="title-container">
      <h1>Hi, there!👋️</h1>
      <h1>I'm <span class="name-container">Lucas Gazzola</span></h1>
      <!-- <h2 class="job-title-container">fullStack Developer</h2> -->
    </div>
  </header>
  <main>
    <button
      type="button"
      title="Download Curriculum Vitae"
      class="button-download">Download CV</button
    >
  </main>
  <ColorPicker />
</section>

<style>
  #home {
    gap: 5rem;
    position: relative;
  }
  .button-download {
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-weight: 800;
    outline: none;
    border: none;
    background-color: var(--secondary-color-button);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  @media (hover: hover) {
    .button-download:hover {
      background-color: rgb(9, 129, 129);
    }
  }
  .button-download:active {
    background-color: var(--button-active-color);
    transform: scale(0.99);
  }

  section {
    width: 100%;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    /* 100 viewport heigth minus header's height(100px)  */
    height: 100vh;
    /* height: 100vh; */
  }
  main {
    display: flex;
    justify-content: center;
  }
  .title-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .name-container {
    position: relative;
    font-size: var(--h1-size);
    color: var(--primary-color);
    transition: color 0.2s ease 0.2s;
  }
  @media (hover: hover) {
    .name-container:hover {
      animation: rainbow 3s normal infinite;
    }
  }
  @keyframes rainbow {
    0% {
      color: var(--primary-color);
    }
    33% {
      color: var(--secondary-color);
    }
    66% {
      color: var(--third-color);
    }
    99% {
      color: var(--primary-color);
    }
  }
  /* @media (hover: hover) {
    .name-container::after {
      content: 'fullStack Developer';
      /* display: none;
      position: absolute;
      top: 36px;
      left: 0;
      height: auto;
      width: max-content;
      text-align: end;
      font-size: 1.4rem;
      color: transparent;
      transition: all 0.5s ease-in 0.5s;
    }
    .name-container:hover::after {
      color: rgb(11, 60, 194);
      top: 48px;
    }
  } */
  @media (max-width: 360px) {
    .title-container {
      align-items: center;
    }
    h1 {
      text-align: center;
    }
  }
</style>
