---
import ProjectCard from './ProjectCard.astro'

const projects = [
  {
    id: 0,
    title: 'Title of the project',
    description:
      'Lorem ipsum dolor sit, amet consectetur aasdasddipisicing elit. Laborum, quaerat atque et sunt quas molestiae doloremque commodi nisi quod mollitia id recusandae facilis illum repellendus distinctio, ad, minus laboriosam amet.',
    techs: ['React', 'Next'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
  {
    id: 1,
    title: 'Title of the project',
    description:
      'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, quaerat atque et sunt quas molestiae doloremque asdcommodi nisi asdasdquod mollitia id recusandae facilis illum repellendus distinctio, ad, minus laboriosam amet.',
    techs: ['Angular', 'Node'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
  {
    id: 2,
    title: 'Title of the project',
    description:
      'Lorem ipsum dolor siasdt, amet consectetur adipisicing elit. Laborum, quaerat atque et sunt quas molestiae doloremque asdcommodi nisi quod mollitia id recusandae facilis illum repellendus distinctio, ad, minusasdasd laboriosam amet.',
    techs: ['MongoDB', 'React'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
  {
    id: 3,
    title: 'Title of the project',
    description:
      'Lorem ipsum doasdasdlor sit, amet consectetur adipisicing eliasdt. asd Lasdaaborum, quaerat atque et sunt quas molestiae doloremque commodiasd nisi quod mollitia id recusandae facilis illum repellendus distinctio, ad, minus laboriosam amet.',
    techs: ['PostgreSQL', 'React', 'Socket.io'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
]
---

<section id="projects">
  <h2 class="section-title">My Projects</h2>
  <ul>{projects.map(project => <ProjectCard {...project} />)}</ul>
</section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  #projects{
    background: linear-gradient(0deg, #1A242C,#191b29);
  }
</style>
