---
const { id, title, description, techs, img, url, github } = Astro.props
---

<li class="project-card-container">
  <div class="project-card scale-animation scroll-reveal">
    <article>
      <header><h3 class="project-title">{title}</h3></header>
      <main><p>{description}</p></main>
      <div class="image-container">IMAGEN</div>
      <footer>
        <a title="Go to the site's URL" href="" class="project-link"
          >View Live Site</a
        >
        <a title="Go to the site's code on GitHub" href="" class="project-link"
          >View GitHub Repo</a
        >
      </footer>
    </article>
  </div>
</li>

<style>
  .scale-animation {
    transform: scale(0);
  }
  .project-card-container {
    /* width: 80ch; */
    max-width: 80ch;
  }
  .project-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem 0;
    /* border: 2px solid var(--primary-color-button); */
    border-radius: 4px;
    background-color: var(--project-background-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: 0px 0px 1000px #487ce430 inset; */
    transition: border-right-color 0.5s ease-in, border-left-color 0.5s ease-in,
      border-top-width 0.5s ease-in, border-bottom-width 0.5s ease-in;

    z-index: 50;
  }

  .active {
    transform: scale(1);
    transition: transform 0.1s ease-in;
  }
  footer {
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;

    gap: 18px;
  }
  .project-title {
    color: #ef652a;
    font-size: 26px;
    text-align: center;
  }
  .project-link {
    position: relative;
    text-align: center;
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* max-width: 180px; */
    padding: 4px 14px;
    /* height: 40px; */
    /* border-radius: 6px; */
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    /* color: rgb(255, 43, 160); */
    color: #f0db4f;
  }

  @media (hover: hover) {
    .project-link:hover {
      text-decoration: underline;
      color: #61dafb;
      /* background-image: linear-gradient(to right, #fff, #fff); */
    }
    .project-link::after {
      position: absolute;
      content: '🚀️';
      width: max-content;
      /* display: none; */
      opacity: 0;
      /* color: #fff; */
      /* color: #111; */
      transition: opacity 0.2s ease-in;
    }
    .project-link:hover::after {
      /* display: inline-block; */
      opacity: 1;
      /* background-color: #fff1; */
      /* right: -15px;
      animation-iteration-count: 1; */
    }
  }
  .project-link:active {
    transform: scale(0.99);
    color: var(--secondary-color-button);
  }
  a {
    color: #ddd;
  }
  /* a:hover {
    text-decoration: underline;
  } */
  article {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  main {
    width: 100%;
  }
  p {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 0 10px;

    line-height: 1.5;
  }
  .image-container {
    width: 250px;
    border-radius: 5px;
    contain: content;
    min-width: 250px;
    min-height: 250px;
    font-size: 60px;
    background-color: #09f8;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
  }
  li {
    display: flex;
    max-width: 900px;
    /* height: 600px; */
    justify-items: center;
    align-items: center;
  }

  @media (max-width: 820px) {
    .project-card {
      border-radius: 0px;
      border-right-color: transparent;
      border-left-color: transparent;
      border-top-color: #487ce4a0;
      border-bottom-color: #487ce4a0;
      border-width: 0px;
      border-top-width: 1px;
      border-bottom-width: 1px;
    }
  }
  h3 {
    color: var(--secondary-color);
  }
  @media (min-width: 480px) {
    footer {
      flex-direction: row;
    }
    p {
      text-align: justify;
      max-width: 80ch;
    }
  }
</style>
