---
import ProjectCard from './ProjectCard.astro'

const projects = [
  {
    id: 0,
    title: 'Title of the project',
    description:
      'Lorem ipsum dolor sit, amet consectetur aasdasddipisicing elit. Laborum, quaerat atque et sunt quas molestiae doloremque commodi nisi quod mollitia id recusandae facilis illum repellendus distinctio, ad, minus laboriosam amet.',
    techs: ['React', 'Next'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
  {
    id: 1,
    title: 'Title of the project',
    description:
      'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, quaerat atque et sunt quas molestiae doloremque asdcommodi nisi asdasdquod mollitia id recusandae facilis illum repellendus distinctio, ad, minus laboriosam amet.',
    techs: ['Angular', 'Node'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
  {
    id: 2,
    title: 'Title of the project',
    description:
      'Lorem ipsum dolecusandae facilis illum repellendus distinctio, ad, minusasdasd laboriosam amet.',
    techs: ['MongoDB', 'React'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
  {
    id: 3,
    title: 'Title of the project',
    description:
      'Lorem ipsum dd mollitia id recusandae facilis illum repellendus distinctio, ad, minus laboriosam amet.',
    techs: ['PostgreSQL', 'React', 'Socket.io'],
    img: {
      src: '',
      alt: 'image description',
    },
    url: '',
    github: '',
  },
]
---

<section id="projects">
  <h2 class="section-title">My Projects</h2>
  <ul>{projects.map(project => <ProjectCard {...project} />)}</ul>
</section>

<style>
  ul {
    display: grid;
    width: 100%;
    max-width: 3600px;
    padding: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }

  #projects {
    align-items: center;
    /* background: linear-gradient(0deg, #1a242c, #191b29); */
    background: linear-gradient(90deg, #0f161d, #1a242b, #131b22);
    /* border-bottom: 2px solid #f2aa4c21; */
  }
  #projects::after {
    content: '';
    display: block;
    height: 20px;
    width: 100%;
    background: linear-gradient(180deg, transparent, #131b22);
  }
</style>
