---
import ProjectCard from './ProjectCard.astro'

import { projects } from '../utils/info'
---

<section id="projects">
  <h2 class="section-title">My Projects</h2>
  <ul>{projects.map(project => <ProjectCard {...project} />)}</ul>
</section>

<style>
  ul {
    display: grid;
    width: 100%;
    max-width: 3600px;
    padding: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }

  #projects {
    align-items: center;
    /* background: linear-gradient(0deg, #1a242c, #191b29); */
    background: linear-gradient(90deg, #0f161d, #1a242b, #131b22);
    /* border-bottom: 2px solid #f2aa4c21; */
  }
  #projects::after {
    content: '';
    display: block;
    height: 20px;
    width: 100%;
    background: linear-gradient(180deg, transparent, #131b22);
  }
  @media (max-width: 682px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
</style>
