---
import TechCard from './TechCard.astro'

import { techStack } from '../utils/info'
---

<section id="stack">
  <header><h3 class="section-title">My Stack</h3></header>
  <main>
    <ul>
      {
        techStack.map(tech => (
          <TechCard
            src={`vectorlogos/${tech.title.toLowerCase()}.svg`}
            title={tech.title}
          />
        ))
      }
    </ul>
  </main>
</section>

<style>
  ul {
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 3rem;
    max-width: 650px;
  }

  #stack {
    /* background: linear-gradient(0deg, #191b29, #121920); */
    background: linear-gradient(120deg, #0f161d, #1a242b, #131b22);
    /* box-shadow: 0 10px 20px rgb(255, 255, 255); */
    /* border-bottom: 2px solid #f2aa4c21; */
  }
  #stack::after {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    background: linear-gradient(180deg, transparent, #131b22);
  }

  @media (max-width: 760px) {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 450px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 320px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
